/* MEDIAQUERY MANAGER: */
$desktop-large:118.81em;  /* 1901px */
$desktop: 118.75em;       /* 1900px; */
$laptop: 75em;            /* 1200px; */
$tab-land: 65.6em;        /* 1050px; */
$tab: 50em;               /* 800px; */
$mob: 31.25em;            /* 500px; */


@mixin respond ($width){
    @if $width == $desktop-large {
        @media only screen and (min-width:118.81em){
            @content;
        }
    }
    @if $width > 118.75em {
        @media only screen and (min-width:$width){
            @content;
        }
    }
    @if $width == $desktop {
        @media only screen and (max-width:118.75em){
            @content;
        }
    }
    @if $width == $laptop {
        @media only screen and (max-width:75em){
            @content;
        }
    }
    @if $width == $tab-land {
        @media only screen and (max-width:65.6em),
            only screen and (hover:none){
            @content;
        }
    }
    @if $width < 118.75em {
        @media only screen and (max-width:$width){
            @content;
        }
    }
    @if $width == $tab {
        @media only screen and (max-width:50em),
            only screen and (hover:none){
            @content;
        }
    }
    @if $width == $mob {
        @media only screen and (max-width:31.25em),
            only screen and (hover:none){
            @content;
        }
    }
    @if $width < 50em {
        @media only screen and (max-width:$width),
            only screen and (hover:none){
            @content;
        }
    }
}