/****** FONT-FAMILY ******/
$font-family-primary:'Taviraj', serif;
$font-family-secondary:'Vidaloka', serif;
$font-family-tertiary:'Prata', serif;

/****** FONT-SIZE ******/
$font-size-s:1.2rem;
$font-size-m:1.5rem;
$font-size-l:2rem;
$font-size-xl:2.2rem;

/* LOGO */
$logo-deafault:3.2rem;
$logo-big:8rem;



/****** TEXT COLOR ******/

$text-color-primary-light: #fff;
$text-color-secondary: #717171;
$text-color-primary-dark: #000;

/****** BACKGROUND-COLOR ******/

$background-color-primary-light: #fff;

$background-color-secondary-light: #d2d2d2;
$background-color-secondary: #e6e6e69e;
$background-color-secondary-dark: #636060b3;

$background-color-tertiary-dark: #3836360f;
$background-color-primary-dark: #000;
$background-color-primary-dark-transparent: #000000b5;

$background-color-secondary-form: #464646;
$background-color-primary-form: #353232;


